<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사진과 댓글</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'poll:cat_list' %}" class="nav-link"><b>개추</b></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="/" class="nav-link"><b>개추</b></a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'account:logout' %}" class="nav-link">로그아웃</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'account:login' %}" class="nav-link">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'account:join' %}" class="nav-link">회원가입</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="image-section">
            <img src="/static/category{{ category_id }}/{{ img_name }}" alt="Sample Image" class="img-fluid">
        </div>

        <div class="comment-section mt-4">
            <h5>답변 목록</h5>
            <ul class="list-group">
                {% for answer in ans_list %}
                    <li class="list-group-item">{{ answer.ans_text }}</li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="comment-section mt-4">
            <h2>댓글</h2>
            <form action="{% url 'poll:ans_create' category_id img_name %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <textarea name="content" id="content" rows="3" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">답변등록</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
